In [7]:
import numpy as np
import pandas as pd
pd.set_option("display.precision",2)
pd.set_option("display.max_column",10)

In [8]:
df = pd.read_csv("telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,...,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,...,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,...,13.7,3,3.70,1,False
2,NJ,137,415,No,No,...,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,...,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,...,10.1,3,2.73,3,False

In [3]:
df.shape

(3333, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Account length,3333.0,101.06,39.82,1.00,74.00,101.00,127.00,243.00
Area code,3333.0,437.18,42.37,408.00,408.00,415.00,510.00,510.00
Number vmail messages,3333.0,8.10,13.69,0.00,0.00,0.00,20.00,51.00
Total day minutes,3333.0,179.78,54.47,0.00,143.70,179.40,216.40,350.80
Total day calls,3333.0,100.44,20.07,0.00,87.00,101.00,114.00,165.00
Total day charge,3333.0,30.56,9.26,0.00,24.43,30.50,36.79,59.64
Total eve minutes,3333.0,200.98,50.71,0.00,166.60,201.40,235.30,363.70
Total eve calls,3333.0,100.11,19.92,0.00,87.00,100.00,114.00,170.00
Total eve charge,3333.0,17.08,4.31,0.00,14.16,17.12,20.00,30.91
Total night minutes,3333.0,200.87,50.57,23.20,167.00,201.20,235.30,395.00
Total night calls,3333.0,100.11,19.57,33.00,87.00,100.00,113.00,175.00
Total night charge,3333.0,9.04,2.28,1.04,7.52,9.05,10.59,17.77
Total intl minutes,3333.0,10.24,2.79,0.00,8.50,10.30,12.10,20.00
Total intl calls,3333.0,4.48,2.46,0.00,3.00,4.00,6.00,20.00
Total intl charge,3333.0,2.76,0.75,0.00,2.30,2.78,3.27,5.40
Customer service calls,3333.0,1.56,1.32,0.00,1.00,1.00,2.00,9.00

In [10]:
df.describe(include=["object", "bool"])

       State International plan Voice mail plan  Churn
count   3333               3333            3333   3333
unique    51                  2               2      2
top       WV                 No              No  False
freq     106               3010            2411   2850

In [15]:
df.describe(include=["integer","float"])

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,...,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.00,3333.00,3333.00,3333.00,3333.00,...,3333.00,3333.00,3333.00,3333.00,3333.00
mean,101.06,437.18,8.10,179.78,100.44,...,9.04,10.24,4.48,2.76,1.56
std,39.82,42.37,13.69,54.47,20.07,...,2.28,2.79,2.46,0.75,1.32
min,1.00,408.00,0.00,0.00,0.00,...,1.04,0.00,0.00,0.00,0.00
25%,74.00,408.00,0.00,143.70,87.00,...,7.52,8.50,3.00,2.30,1.00
50%,101.00,415.00,0.00,179.40,101.00,...,9.05,10.30,4.00,2.78,1.00
75%,127.00,510.00,20.00,216.40,114.00,...,10.59,12.10,6.00,3.27,2.00
max,243.00,510.00,51.00,350.80,165.00,...,17.77,20.00,20.00,5.40,9.00

In [17]:
df['Churn'].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

In [20]:
df['Churn'].value_counts(normalize=True)

False    0.86
True     0.14
Name: Churn, dtype: float64

In [21]:
df.sort_values(by = 'Total day charge',ascending = False).head()

,State,Account length,Area code,International plan,Voice mail plan,...,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,...,10.1,9,2.73,1,True
985,NY,64,415,Yes,No,...,13.3,9,3.59,1,True
2594,OH,115,510,Yes,No,...,11.8,8,3.19,1,True
156,OH,83,415,No,No,...,15.8,7,4.27,0,True
605,MO,112,415,No,No,...,12.7,8,3.43,2,True