In [8]:
import pandas as pd
cars=pd.read_csv("cars.csv")
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [10]:
type(cars)

pandas.core.frame.DataFrame

In [13]:
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [15]:
cars.head(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [17]:
cars.head(20)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [19]:
cars.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [20]:
cars.tail(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [21]:
cars.tail(20)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [24]:
cars.shape

(32, 12)

In [44]:
new_cars=cars.rename(columns={"Unnamed: 0":"Car Names"})
cars.info(null_counts=True)
cars

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null float64
cyl           32 non-null int64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          32 non-null float64
vs            32 non-null int64
am            32 non-null int64
gear          32 non-null int64
carb          32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 2.9+ KB

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [46]:
new_cars

,Car Names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [48]:
cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [50]:
cars.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [61]:
cars.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [62]:
cars.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [64]:
cars.count()

Unnamed: 0    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          32
vs            32
am            32
gear          32
carb          32
dtype: int64

In [66]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [84]:
cars['mpg'].max()

33.9

In [86]:
print(cars['carb'].min())
cars['carb'].max()

1

8

In [87]:
cars.min()

Unnamed: 0    AMC Javelin
mpg                  10.4
cyl                     4
disp                 71.1
hp                     52
drat                 2.76
wt                  1.513
qsec                 14.5
vs                      0
am                      0
gear                    3
carb                    1
dtype: object

In [91]:
print(cars['qsec'].mean())
print(cars['qsec'].median())
print(cars['qsec'].mode())
print(cars['qsec'].std())

17.848750000000003
17.71
0    17.02
1    18.90
dtype: float64
1.7869432360968431

In [96]:
print(cars['qsec'].describe())

count    32.000000
mean     17.848750
std       1.786943
min      14.500000
25%      16.892500
50%      17.710000
75%      18.900000
max      22.900000
Name: qsec, dtype: float64

In [230]:
cars=pd.read_csv('cars.csv')
print("Before",cars.info())
cars=cars.rename(columns={'Unnamed: 0': 'Name of Car'})
cars.vs=cars.vs.fillna(cars.vs.mean())
print("After",cars.info())
cars

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null float64
cyl           32 non-null int64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          32 non-null float64
vs            22 non-null float64
am            32 non-null int64
gear          32 non-null int64
carb          32 non-null int64
dtypes: float64(6), int64(5), object(1)
memory usage: 2.9+ KB
Before None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Name of Car    32 non-null object
mpg            32 non-null float64
cyl            32 non-null int64
disp           32 non-null float64
hp             32 non-null int64
drat           32 non-null float64
wt             32 non-null float64
qsec           32 non-null float64
vs             32 non-null float64
am             32 non-null int64
gear           32 non-null int64
carb           32 non-null int64
dtypes: float64(6), int64(5), object(1)
memory usage: 2.9+ KB
After None

,Name of Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0.318182,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0.318182,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,0.318182,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,0.318182,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0.318182,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,0.318182,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0.000000,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,0.318182,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,0.318182,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,0.318182,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,0.318182,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0.000000,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0.000000,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0.000000,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0.000000,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0.000000,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0.000000,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1.000000,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1.000000,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1.000000,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1.000000,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0.000000,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0.000000,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0.000000,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0.000000,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1.000000,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0.000000,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1.000000,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0.000000,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0.000000,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0.000000,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1.000000,1,4,2

In [231]:
cars.iloc[0:5,0:5]

         Name of Car   mpg  cyl   disp   hp
0          Mazda RX4  21.0    6  160.0  110
1      Mazda RX4 Wag  21.0    6  160.0  110
2         Datsun 710  22.8    4  108.0   93
3     Hornet 4 Drive  21.4    6  258.0  110
4  Hornet Sportabout  18.7    8  360.0  175

In [221]:
cars.iloc[:10,0:]

,Name of Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0.318182,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0.318182,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,0.318182,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,0.318182,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0.318182,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,0.318182,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0.000000,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,0.318182,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,0.318182,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,0.318182,0,4,4

In [232]:
cars.iloc[:,1]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [233]:
cars.loc[:,"Name of Car":"vs"]

            Name of Car   mpg  cyl   disp   hp  drat     wt   qsec        vs
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46  0.318182
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02  0.318182
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61  0.318182
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44  0.318182
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02  0.318182
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22  0.318182
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84  0.000000
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00  0.318182
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90  0.318182
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30  0.318182
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90  0.318182
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40  0.000000
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60  0.000000
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00  0.000000
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98  0.000000
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82  0.000000
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42  0.000000
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47  1.000000
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52  1.000000
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90  1.000000
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01  1.000000
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87  0.000000
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30  0.000000
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41  0.000000
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05  0.000000
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90  1.000000
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70  0.000000
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90  1.000000
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50  0.000000
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50  0.000000
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60  0.000000
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60  1.000000

In [255]:
count=0
for i in range(cars['am'].count()):
    if cars.am[i]==0:
        cars.am[i]=cars['am'].mean()
        count+=1
print("Total zeros are:",count)
print(cars.am)
cars

Total zeros are: 20
0     0
1     1
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    1
20    0
21    0
22    0
23    0
24    0
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: am, dtype: int64

c:\users\rinsu\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Name of Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0.318182,0,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0.318182,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,0.318182,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,0.318182,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0.318182,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,0.318182,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0.000000,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,0.318182,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,0.318182,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,0.318182,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,0.318182,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0.000000,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0.000000,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0.000000,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0.000000,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0.000000,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0.000000,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1.000000,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1.000000,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1.000000,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1.000000,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0.000000,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0.000000,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0.000000,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0.000000,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1.000000,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0.000000,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1.000000,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0.000000,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0.000000,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0.000000,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1.000000,1,4,2